In [1]:
import requests
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [2]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')

In [3]:
My_table = soup.find('table',{'class':'wikitable sortable'})

In [4]:
links = My_table.findAll('tr')

In [5]:
torPostCodes = []
torBorough = []
torNeigh =[]
for link in links:
    cells = link.findAll('td')
    if len(cells) == 3:
        torPostCodes.append(cells[0].find(text=True))
        torBorough.append(cells[1].find(text=True))
        torNeigh.append(cells[2].find(text=True))

In [6]:
import pandas as pd
df = pd.DataFrame()
df['PostalCode'] = torPostCodes
df['Borough'] = torBorough
df['Neighbourhood'] = torNeigh

df.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned     Not assigned

1        M2A      Not assigned     Not assigned

2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [7]:
df = df[df.Borough != 'Not assigned']
df.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [8]:
df = df.groupby(['PostalCode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough     Guildwood\n, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                             Cedarbrae\n

In [9]:
df.shape

(103, 3)